Repository cognitedata/power-ops-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, resync

mypy:
  name: mypy
  entry: dmypy run -- cognite/powerops/resync cognite/powerops/utils
  language: system
  pass_filenames: false

resync:
  name: resync
  entry: powerops pre-build power_ops_config.yaml resync/configuration.yaml --silent
  language: system
  pass_filenames: false

feat: setup same bids in 15 min
  resync/shared/bid_configuration_day_ahead.yaml
  resync/stavanger/shop_based_partial_bid_configuration.yaml
  resync/stavanger/shop_scenario.yaml
  resync/stavanger/shop_scenario_set.yaml
  toolkit/config.sandbox.yaml
  toolkit/config.staging.yaml
  toolkit/modules/power_ops_template/workflows/15_min_bid_process_triggers.WorkflowTrigger.yaml
  toolkit/modules/resync/data_models/nodes/shared:BidConfigurationDayAhead.edge.yaml
  toolkit/modules/resync/data_models/nodes/shared:BidConfigurationDayAhead.node.yaml
  toolkit/modules/resync/data_models/nodes/stavanger:ShopBasedPartialBidConfiguration.node.yaml
  toolkit/modules/resync/data_models/nodes/stavanger:ShopScenario.edge.yaml
  toolkit/modules/resync/data_models/nodes/stavanger:ShopScenario.node.yaml
  toolkit/modules/resync/data_models/nodes/stavanger:ShopScenarioSet.edge.yaml
  toolkit/modules/resync/data_models/nodes/stavanger:ShopScenarioSet.node.yaml
Due: resync

feat: change sandbox trigger schedule to be different than staging
  toolkit/config.sandbox.yaml
Due: none

chore: update wf trigger comments
  toolkit/config.sandbox.yaml
  toolkit/config.staging.yaml
Due: none

fix: remove test 15 min bids
  resync/shared/bid_configuration_day_ahead.yaml
  toolkit/modules/resync/data_models/nodes/shared:BidConfigurationDayAhead.edge.yaml
  toolkit/modules/resync/data_models/nodes/shared:BidConfigurationDayAhead.node.yaml
Due: resync

feat: setup all bids as 15 min (#548)
  resync/shared/bid_configuration_day_ahead.yaml
  resync/stavanger/shop_based_partial_bid_configuration.yaml
  resync/stavanger/shop_scenario.yaml
  resync/stavanger/shop_scenario_set.yaml
  toolkit/config.sandbox.yaml
  toolkit/config.staging.yaml
  toolkit/modules/power_ops_template/workflows/15_min_bid_process_triggers.WorkflowTrigger.yaml
  toolkit/modules/resync/data_models/nodes/shared:BidConfigurationDayAhead.edge.yaml
  toolkit/modules/resync/data_models/nodes/shared:BidConfigurationDayAhead.node.yaml
  toolkit/modules/resync/data_models/nodes/stavanger:ShopBasedPartialBidConfiguration.node.yaml
  toolkit/modules/resync/data_models/nodes/stavanger:ShopScenario.edge.yaml
  toolkit/modules/resync/data_models/nodes/stavanger:ShopScenario.node.yaml
  toolkit/modules/resync/data_models/nodes/stavanger:ShopScenarioSet.edge.yaml
  toolkit/modules/resync/data_models/nodes/stavanger:ShopScenarioSet.node.yaml
Due: resync

chore: bump pygen to v1.2.21 and run poetry update
  poetry.lock
  pyproject.toml
Due: none

chore: run pygen generate clients
  cognite/powerops/client/_generated/v1/_api/_core.py
  cognite/powerops/client/_generated/v1/_api_client.py
  cognite/powerops/client/_generated/v1/data_classes/_benchmarking_result_day_ahead.py
  cognite/powerops/client/_generated/v1/data_classes/_benchmarking_shop_case.py
  cognite/powerops/client/_generated/v1/data_classes/_core/base.py
  cognite/powerops/client/_generated/v1/data_classes/_core/query/executor.py
  cognite/powerops/client/_generated/v1/data_classes/_core/query/processing.py
  cognite/powerops/client/_generated/v1/data_classes/_core/query/step.py
Due: mypy

fix: remove hack in test that made pygen objects equal, fixed in new pygen version
  tests/test_integration/test_client/test_generated/test_bid_configuration.py
Due: mypy

fix: test to check identifier full xids, fixed in new pygen version
  tests/test_integration/test_client/test_generated/test_bid_configuration.py
Due: mypy

chore: bump SDK version
  CHANGELOG.md
  cognite/powerops/_version.py
  pyproject.toml
Due: mypy

chore: remove outdated data model
  scripts/backup/afrr-market.graphql
  scripts/backup/benchmark-market.graphql
  scripts/backup/cogshop.graphql
  scripts/backup/dayahead-market.graphql
  scripts/backup/power-ops-afrr-bids-AFRRBids-v1.graphql
  scripts/backup/power-ops-afrr-bigging-proto-aFRR-0.1.graphql
  scripts/backup/power-ops-day-ahead-bids-v2-DayAheadBids-1.graphql
  scripts/backup/power-ops-day-ahead-bids_DayAheadBids-v1.graphql
  scripts/backup/production.graphql
  scripts/backup/rkom-market.graphql
  scripts/backup/shared/date_transformation.graphql
  scripts/backup/shared/input_timeseries_mapping.graphql
  scripts/backup/shared/nordpool_market.graphql
  scripts/backup/shared/scenario_mapping.graphql
  scripts/backup/shared/shop_transformation.graphql
  scripts/backup/shared/value_transformation.graphql
Due: none

chore: rename test folder to standardize
  tests/test_unit/test_client/__init__.py
  tests/test_unit/test_client/generated/data_classes/test_shop_case.py
  tests/test_unit/test_client/shop/__init__.py
  tests/test_unit/test_client/shop/test_shop_case/__init__.py
  tests/test_unit/test_client/shop/test_shop_case/test_cogshop_api.py
  tests/test_unit/test_client/shop/test_shop_case/test_shop_case_loading.py
Due: mypy

chore: rename test folder to standardize
  tests/test_unit/test_client/test_generated/data_classes/test_shop_case.py
Due: mypy

chore: rename test folder to standardize
  tests/test_unit/test_client/test_shop/__init__.py
  tests/test_unit/test_client/test_shop/test_cogshop_api.py
  tests/test_unit/test_client/test_shop/test_shop_case/__init__.py
  tests/test_unit/test_client/test_shop/test_shop_case/test_shop_case_loading.py
Due: mypy

chore: rename test folder to standardize
  tests/test_unit/test_client/test_shop/test_data_classes/__init__.py
  tests/test_unit/test_client/test_shop/test_data_classes/test_shop_case_loading.py
Due: mypy

chore: rename test file to standardize
  tests/test_unit/test_client/test_shop/test_data_classes/test_shop_case.py
Due: mypy

chore: rename test folder to standardize
  tests/test_unit/test_client/test_generated/test_data_classes/test_shop_case.py
Due: mypy

chore: rename action files for context
  .github/workflows/sdk-build.yml
  .github/workflows/sdk-release.yml
Due: none

chore: update PR template
  .github/pull_request_template.md
Due: none

feat: clean up for v1
  cognite/powerops/cdf_labels.py
  cognite/powerops/client/shop/data_classes/__init__.py
  cognite/powerops/client/shop/data_classes/dayahead_trigger.py
  cognite/powerops/client/shop/data_classes/shop_case.py
  cognite/powerops/client/shop/data_classes/shop_file_reference.py
  cognite/powerops/client/shop/data_classes/shop_result_files.py
  cognite/powerops/client/shop/data_classes/shop_results.py
  cognite/powerops/client/shop/data_classes/shop_run.py
  cognite/powerops/client/shop/data_classes/shop_run_event.py
  cognite/powerops/client/shop/data_classes/shop_run_filter.py
  cognite/powerops/client/shop/shop_run_api.py
  cognite/powerops/utils/cdf/calls.py
  cognite/powerops/utils/cdf/resource_creation.py
  cognite/powerops/utils/deprecation.py
  cognite/powerops/utils/helpers.py
  cognite/powerops/utils/identifiers.py
  cognite/powerops/utils/lookup.py
  cognite/powerops/utils/navigation.py
Due: mypy

chore: remove outdated data model (#551)
  .github/pull_request_template.md
  .github/workflows/sdk-build.yml
  .github/workflows/sdk-release.yml
  scripts/backup/afrr-market.graphql
  scripts/backup/benchmark-market.graphql
  scripts/backup/cogshop.graphql
  scripts/backup/dayahead-market.graphql
  scripts/backup/power-ops-afrr-bids-AFRRBids-v1.graphql
  scripts/backup/power-ops-afrr-bigging-proto-aFRR-0.1.graphql
  scripts/backup/power-ops-day-ahead-bids-v2-DayAheadBids-1.graphql
  scripts/backup/power-ops-day-ahead-bids_DayAheadBids-v1.graphql
  scripts/backup/production.graphql
  scripts/backup/rkom-market.graphql
  scripts/backup/shared/date_transformation.graphql
  scripts/backup/shared/input_timeseries_mapping.graphql
  scripts/backup/shared/nordpool_market.graphql
  scripts/backup/shared/scenario_mapping.graphql
  scripts/backup/shared/shop_transformation.graphql
  scripts/backup/shared/value_transformation.graphql
  tests/test_unit/test_client/__init__.py
  tests/test_unit/test_client/test_generated/test_data_classes/test_shop_case.py
  tests/test_unit/test_client/test_shop/__init__.py
  tests/test_unit/test_client/test_shop/test_cogshop_api.py
  tests/test_unit/test_client/test_shop/test_data_classes/__init__.py
  tests/test_unit/test_client/test_shop/test_data_classes/test_shop_case.py
Due: mypy

feat: mark functions as deprecated
  cognite/powerops/cdf_labels.py
  cognite/powerops/client/shop/data_classes/dayahead_trigger.py
  cognite/powerops/client/shop/data_classes/shop_case.py
  cognite/powerops/client/shop/data_classes/shop_file_reference.py
  cognite/powerops/client/shop/data_classes/shop_result_files.py
  cognite/powerops/client/shop/data_classes/shop_results.py
  cognite/powerops/client/shop/data_classes/shop_run.py
  cognite/powerops/client/shop/data_classes/shop_run_event.py
  cognite/powerops/client/shop/data_classes/shop_run_filter.py
  cognite/powerops/utils/cdf/calls.py
  cognite/powerops/utils/cdf/resource_creation.py
  cognite/powerops/utils/deprecation.py
  cognite/powerops/utils/helpers.py
  cognite/powerops/utils/identifiers.py
  cognite/powerops/utils/lookup.py
  cognite/powerops/utils/navigation.py
Due: mypy

chore: clean up unused type ignores
  cognite/powerops/utils/cdf/resource_creation.py
  cognite/powerops/utils/deprecation.py
Due: mypy

feat: add deprecation decorator for functions
  cognite/powerops/utils/deprecation.py
Due: mypy

chore: mark all shop data classes as deprecated
  cognite/powerops/client/shop/data_classes/dayahead_trigger.py
  cognite/powerops/client/shop/data_classes/shop_case.py
  cognite/powerops/client/shop/data_classes/shop_file_reference.py
  cognite/powerops/client/shop/data_classes/shop_result_files.py
  cognite/powerops/client/shop/data_classes/shop_results.py
  cognite/powerops/client/shop/data_classes/shop_run.py
  cognite/powerops/client/shop/data_classes/shop_run_event.py
  cognite/powerops/client/shop/data_classes/shop_run_filter.py
Due: mypy

chore: mark _logger.py as deprecated
  cognite/powerops/client/_logger.py
Due: mypy

chore: mark cdf_labels.py as deprecated
  cognite/powerops/cdf_labels.py
Due: mypy

chore: mark relevant calls.py as deprecated
  cognite/powerops/utils/cdf/calls.py
Due: mypy

chore: mark resource_creation.py as deprecated
  cognite/powerops/utils/cdf/resource_creation.py
Due: mypy

chore: mark relevant identifiers.py as deprecated
  cognite/powerops/utils/helpers.py
Due: mypy

chore: mark lookup.py as deprecated
  cognite/powerops/utils/lookup.py
Due: mypy

chore: mark navigation.py as deprecated
  cognite/powerops/utils/navigation.py
Due: mypy

chore: mark identifiers.py as deprecated
  cognite/powerops/utils/identifiers.py
Due: mypy

chore: bump version
  CHANGELOG.md
  cognite/powerops/_version.py
  pyproject.toml
Due: mypy

chore: bump pygen to get bug fixes (#550)
  CHANGELOG.md
  cognite/powerops/_version.py
  cognite/powerops/client/_generated/v1/_api/_core.py
  cognite/powerops/client/_generated/v1/_api_client.py
  cognite/powerops/client/_generated/v1/data_classes/_benchmarking_result_day_ahead.py
  cognite/powerops/client/_generated/v1/data_classes/_benchmarking_shop_case.py
  cognite/powerops/client/_generated/v1/data_classes/_core/base.py
  cognite/powerops/client/_generated/v1/data_classes/_core/query/executor.py
  cognite/powerops/client/_generated/v1/data_classes/_core/query/processing.py
  cognite/powerops/client/_generated/v1/data_classes/_core/query/step.py
  poetry.lock
  pyproject.toml
  tests/test_integration/test_client/test_generated/test_bid_configuration.py
Due: mypy

chore: use deprecated library
  poetry.lock
  pyproject.toml
Due: none

chore: use deprecated library instead of custom
  cognite/powerops/cdf_labels.py
  cognite/powerops/client/_logger.py
  cognite/powerops/client/shop/data_classes/dayahead_trigger.py
  cognite/powerops/client/shop/data_classes/shop_case.py
  cognite/powerops/client/shop/data_classes/shop_file_reference.py
  cognite/powerops/client/shop/data_classes/shop_result_files.py
  cognite/powerops/client/shop/data_classes/shop_results.py
  cognite/powerops/client/shop/data_classes/shop_run.py
  cognite/powerops/client/shop/data_classes/shop_run_event.py
  cognite/powerops/client/shop/data_classes/shop_run_filter.py
  cognite/powerops/client/shop/shop_run_api.py
  cognite/powerops/utils/cdf/calls.py
  cognite/powerops/utils/cdf/resource_creation.py
  cognite/powerops/utils/deprecation.py
  cognite/powerops/utils/helpers.py
  cognite/powerops/utils/identifiers.py
  cognite/powerops/utils/lookup.py
  cognite/powerops/utils/navigation.py
  poetry.lock
  pyproject.toml
Due: mypy

chore: mark as deprecated to prepare for v1 release (#554)
  CHANGELOG.md
  cognite/powerops/_version.py
  cognite/powerops/cdf_labels.py
  cognite/powerops/client/_logger.py
  cognite/powerops/client/shop/data_classes/dayahead_trigger.py
  cognite/powerops/client/shop/data_classes/shop_case.py
  cognite/powerops/client/shop/data_classes/shop_file_reference.py
  cognite/powerops/client/shop/data_classes/shop_result_files.py
  cognite/powerops/client/shop/data_classes/shop_results.py
  cognite/powerops/client/shop/data_classes/shop_run.py
  cognite/powerops/client/shop/data_classes/shop_run_event.py
  cognite/powerops/client/shop/data_classes/shop_run_filter.py
  cognite/powerops/client/shop/shop_run_api.py
  cognite/powerops/utils/cdf/calls.py
  cognite/powerops/utils/cdf/resource_creation.py
  cognite/powerops/utils/deprecation.py
  cognite/powerops/utils/helpers.py
  cognite/powerops/utils/identifiers.py
  cognite/powerops/utils/lookup.py
  cognite/powerops/utils/navigation.py
  poetry.lock
  pyproject.toml
Due: mypy

feat: adding view and container to data models
  cognite/powerops/client/_generated/v1/_api/__init__.py
  cognite/powerops/client/_generated/v1/_api/_core.py
  cognite/powerops/client/_generated/v1/_api/data_set_configuration.py
  cognite/powerops/client/_generated/v1/_api_client.py
  cognite/powerops/client/_generated/v1/data_classes/__init__.py
  cognite/powerops/client/_generated/v1/data_classes/_data_set_configuration.py
  cognite/powerops/client/powerops_client.py
  scripts/pygen_generate_clients.py
  toolkit/config.sandbox.yaml
  toolkit/modules/power_model/data_models/all_DayAhead.datamodel.yaml
  toolkit/modules/power_model/data_models/all_PowerOps.datamodel.yaml
  toolkit/modules/power_model/data_models/config_DayAheadConfiguration.datamodel.yaml
  toolkit/modules/power_model/data_models/config_Resync.datamodel.yaml
  toolkit/modules/power_model/data_models/containers/DataSetConfiguration.container.yaml
  toolkit/modules/power_model/data_models/views/DataSetConfiguration.view.yaml
Due: mypy

chore: bump powerops version in pyproject.toml and _version.py
  cognite/powerops/_version.py
  pyproject.toml
Due: mypy

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  resync: any of: resync/
