Repository cognitedata/power-ops-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, resync

mypy:
  name: mypy
  entry: dmypy run -- cognite/powerops/resync cognite/powerops/utils
  language: system
  pass_filenames: false

resync:
  name: resync
  entry: powerops pre-build power_ops_config.yaml resync/configuration.yaml --silent
  language: system
  pass_filenames: false

chore: update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: add process dataset to both view and container
  toolkit/modules/power_model/data_models/containers/DataSetConfiguration.container.yaml
  toolkit/modules/power_model/data_models/views/DataSetConfiguration.view.yaml
Due: none

feat: adding name and resync
  resync/shared/data_set_configuration.yaml
  toolkit/modules/power_model/data_models/containers/DataSetConfiguration.container.yaml
  toolkit/modules/power_model/data_models/views/DataSetConfiguration.view.yaml
Due: resync

chore: regenerate SDK
  cognite/powerops/client/_generated/v1/_api/data_set_configuration.py
  cognite/powerops/client/_generated/v1/data_classes/_data_set_configuration.py
Due: mypy

feat: apply correct changes
  cognite/powerops/client/_generated/v1/_api/data_set_configuration.py
  cognite/powerops/client/_generated/v1/data_classes/_data_set_configuration.py
Due: mypy

chore: bump sdk version to 0.114.1
  cognite/powerops/_version.py
  pyproject.toml
Due: mypy

chore: pre-commit running
  resync/shared/data_set_configuration.yaml
  toolkit/modules/resync/data_models/nodes/shared:DataSetConfiguration.node.yaml
  toolkit/modules/resync/data_models/nodes/types.node.yaml
Due: resync

chore: update typo
  toolkit/modules/power_model/data_models/containers/DataSetConfiguration.container.yaml
  toolkit/modules/power_model/data_models/views/DataSetConfiguration.view.yaml
Due: none

fix: raise MissingViewError in resync if view doesn't exist
  cognite/powerops/resync/config_to_fdm.py
Due: mypy, resync

chore: delete old file that was from pre-toolkit
  toolkit/modules/power_model/data_models/node_types/power-ops-types.powerops_nodes.yaml
Due: none

chore: reran pygen to solve conflicts
  cognite/powerops/client/_generated/v1/_api/data_set_configuration.py
  cognite/powerops/client/_generated/v1/data_classes/_data_set_configuration.py
Due: mypy

feat: getting dataset instead of external id and internal id
  cognite/powerops/utils/cdf/datasets_calls.py
  tests/test_unit/test_utils/test_cdf/test_dataset_calls.py
  tutorials/quickstart_cogshop_run.ipynb
Due: mypy

feat: add process dataset to both view and container (#560)
  CHANGELOG.md
  cognite/powerops/_version.py
  cognite/powerops/client/_generated/v1/_api/data_set_configuration.py
  cognite/powerops/client/_generated/v1/data_classes/_data_set_configuration.py
  cognite/powerops/resync/config_to_fdm.py
  pyproject.toml
  resync/shared/data_set_configuration.yaml
  toolkit/modules/power_model/data_models/containers/DataSetConfiguration.container.yaml
  toolkit/modules/power_model/data_models/node_types/power-ops-types.powerops_nodes.yaml
  toolkit/modules/power_model/data_models/views/DataSetConfiguration.view.yaml
  toolkit/modules/resync/data_models/nodes/shared:DataSetConfiguration.node.yaml
  toolkit/modules/resync/data_models/nodes/types.node.yaml
Due: mypy, resync

adding better tests
  tests/test_unit/test_utils/test_cdf/test_dataset_calls.py
  tutorials/quickstart_cogshop_run.ipynb
Due: mypy

linting
  tests/test_integration/test_client/test_utils/test_dataset_calls.py
Due: mypy

test: improve tests
  tests/test_integration/test_client/test_utils/test_dataset_calls.py
Due: mypy

copy tk deploy to tk release
  .github/workflows/toolkit-release.yml
Due: none

chore: linting
  tests/test_integration/test_client/test_utils/test_dataset_calls.py
Due: mypy

fix: avoid flakiness when running multiple tests in parallel
  cognite/powerops/utils/cdf/datasets_calls.py
  tests/test_integration/conftest.py
  tests/test_integration/test_client/test_generated/conftest.py
  tests/test_integration/test_client/test_utils/test_dataset_calls.py
  tests/test_unit/test_utils/test_cdf/test_dataset_calls.py
Due: mypy

chore: remove todo line
  cognite/powerops/client/powerops_client.py
Due: mypy

chore: bump sdk version in pyproject.toml and cognite/powerops/_version.py
  cognite/powerops/_version.py
  pyproject.toml
Due: mypy

chore: update changelog with the correct description
  CHANGELOG.md
Due: none

chore: use correct name for get_data_set_function
  CHANGELOG.md
Due: none

gh env secrets script
  scripts/update_gh_env_secrets.py
Due: mypy

Refactor/remove datasets references (#559)
  CHANGELOG.md
  cognite/powerops/_version.py
  cognite/powerops/client/data_set_api.py
  cognite/powerops/client/powerops_client.py
  cognite/powerops/utils/cdf/datasets_calls.py
  pyproject.toml
  scripts/add_props_to_partialbidmatrix.py
  scripts/add_ts_data_bidmatrixinfo.py
  tests/test_integration/conftest.py
  tests/test_integration/test_client/test_generated/conftest.py
  tests/test_integration/test_client/test_utils/test_dataset_calls.py
  tests/test_unit/test_utils/test_cdf/__init__.py
  tests/test_unit/test_utils/test_cdf/test_dataset_calls.py
Due: mypy

chore: bump version to 1.0.0
  CHANGELOG.md
  cognite/powerops/_version.py
  pyproject.toml
Due: mypy

remove: SHOPRunAPI
  CHANGELOG.md
  cognite/powerops/client/powerops_client.py
  cognite/powerops/client/shop/__init__.py
  cognite/powerops/client/shop/data_classes/__init__.py
  cognite/powerops/client/shop/data_classes/dayahead_trigger.py
  cognite/powerops/client/shop/data_classes/shop_case.py
  cognite/powerops/client/shop/data_classes/shop_file_reference.py
  cognite/powerops/client/shop/data_classes/shop_result_files.py
  cognite/powerops/client/shop/data_classes/shop_results.py
  cognite/powerops/client/shop/data_classes/shop_run.py
  cognite/powerops/client/shop/data_classes/shop_run_event.py
  cognite/powerops/client/shop/data_classes/shop_run_filter.py
  cognite/powerops/client/shop/shop_run_api.py
  tests/test_unit/test_client/test_shop/test_data_classes/__init__.py
  tests/test_unit/test_client/test_shop/test_data_classes/test_shop_case.py
Due: mypy

remove: DataSetsAPI
  CHANGELOG.md
  cognite/powerops/client/data_set_api.py
  cognite/powerops/client/powerops_client.py
  power_ops_config.yaml
Due: mypy

chore: remove references to read_dataset and write_dataset
  tests/test_unit/conftest.py
  toolkit/modules/shop_result_explorer/streamlit/shop_result_explorer/pages/shop_scenarios.py
  toolkit/modules/shop_result_explorer/streamlit/shop_result_explorer/shop_results.py
Due: mypy

chore: remove all files with only deprecated classes/functions
  CHANGELOG.md
  cognite/powerops/cdf_labels.py
  cognite/powerops/client/_logger.py
  cognite/powerops/utils/cdf/resource_creation.py
  cognite/powerops/utils/helpers.py
  cognite/powerops/utils/identifiers.py
  cognite/powerops/utils/lookup.py
  cognite/powerops/utils/navigation.py
  cognite/powerops/utils/require.py
Due: mypy

chore: remove the deprecated classes in utils.cdf.calls
  CHANGELOG.md
  cognite/powerops/utils/cdf/calls.py
Due: mypy

chore: remove deprecation dependencies
  poetry.lock
  pyproject.toml
Due: none

refactor: moved retry into root of utils module
  CHANGELOG.md
  cognite/powerops/utils/retry.py
  cognite/powerops/utils/retry/__init__.py
  tests/test_unit/test_utils/test_retry.py
Due: mypy

refactor: moved cdf.extraction_pipelines into root of utils module
  CHANGELOG.md
  cognite/powerops/utils/extraction_pipelines.py
  tests/test_unit/test_utils/test_extraction_pipeline.py
Due: mypy

refactor: moved cdf.calls into root of utils module at utils.retrieve
  CHANGELOG.md
  cognite/powerops/prerun_transformations/transformations.py
  cognite/powerops/utils/retrieve.py
Due: mypy

Path conditions:
  mypy: any of: ^.*.(py|pyi)$
  resync: any of: resync/
