Repository cognitedata/power-ops-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, resync

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: "2.1.3"
    hooks:
      - id: poetry-check

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.9.6"
    hooks:
      - id: ruff
        args:
          - --exit-non-zero-on-fix
          - --config=pyproject.toml
      - id: ruff-format
        args:
          - --config=pyproject.toml

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: "^toolkit/modules/resync/.+yaml$"
      - id: name-tests-test
        args:
          - --pytest-test-first
        exclude: "constants.py"
      - id: trailing-whitespace
      - id: no-commit-to-branch

  - repo: https://github.com/google/yamlfmt
    rev: v0.15.0
    hooks:
      - id: yamlfmt

  # Mypy must be run in the local system environment, not in the pre-commit environment.
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        # Gradually, the entire codebase should be checked by mypy, plan is to gradually add mypy for each
        # module as we refactor it.
        entry: dmypy run -- cognite/powerops/resync cognite/powerops/utils
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false
      - id: "resync"
        name: "resync"
        entry: "powerops pre-build power_ops_config.yaml resync/configuration.yaml --silent"
        files: "resync/"
        language: system
        pass_filenames: false

Release process (#567)
  .github/workflows/toolkit-release.yml
  SETUP.md
  scripts/update_gh_env_secrets.py
  toolkit/CONTRIBUTING.md
Due: mypy

update contributing guide
  toolkit/CONTRIBUTING.md
Due: none

update Local development proces
  toolkit/CONTRIBUTING.md
Due: none

New ci cd (#571)
  .github/workflows/toolkit-sandbox.yaml
  .github/workflows/toolkit-staging.yaml
  RESYNC.md
  toolkit/CONTRIBUTING.md
Due: none

add shop_dump_output_only flag to trigger_shop_case
  cognite/powerops/client/shop/cogshop_api.py
Due: mypy

dockstring
  cognite/powerops/client/shop/cogshop_api.py
Due: mypy

version, changelog
  CHANGELOG.md
  cognite/powerops/_version.py
  pyproject.toml
Due: mypy

fix test
  tests/test_integration/test_client/test_shop/test_cogshop_api.py
Due: mypy

Add shop dump output only flag (#574)
  CHANGELOG.md
  cognite/powerops/_version.py
  cognite/powerops/client/shop/cogshop_api.py
  pyproject.toml
  tests/test_integration/test_client/test_shop/test_cogshop_api.py
Due: mypy

Add initial (low-spam) gemini configuration
  .gemini/config.yaml
Due: none

Update deepdiff version in poetry and lock
  poetry.lock
  pyproject.toml
Due: none

uncomment deepdiff after testing
  pyproject.toml
Due: none

update changelog and version
  CHANGELOG.md
  pyproject.toml
Due: none

update package version
  cognite/powerops/_version.py
Due: mypy

lock poetry
  poetry.lock
Due: none

Update deepdiff (#578)
  CHANGELOG.md
  cognite/powerops/_version.py
  poetry.lock
  pyproject.toml
Due: mypy

chore: bump pkginfo 1.10.0 -> 1.11.0 handle InvalidDistribution: Metadata is missing required fields: Name,version
  poetry.lock
  pyproject.toml
Due: none

Add initial (low-spam) gemini configuration (#576)
  .gemini/config.yaml
Due: none

removed pkginfo and bumped twine to ^6.0.0
  CHANGELOG.md
  cognite/powerops/_version.py
  poetry.lock
  pyproject.toml
Due: mypy

chore: bump twine 5.1.1 -> 6.1.0 (#580)
  CHANGELOG.md
  cognite/powerops/_version.py
  poetry.lock
  pyproject.toml
Due: mypy

upgrade toolkit in poetry
  poetry.lock
  pyproject.toml
Due: none

upgrade toolkit to 0.6.70
  poetry.lock
  pyproject.toml
Due: none

update version
  cognite/powerops/_version.py
Due: mypy

upgrade toolkit in workflows
  .github/workflows/toolkit-release.yml
  .github/workflows/toolkit-sandbox.yaml
  .github/workflows/toolkit-staging.yaml
Due: none

explicit boolean for filter existing
  cognite/powerops/client/_generated/data_classes/_core/query/step.py
Due: mypy

update changelog and version
  CHANGELOG.md
  cognite/powerops/_version.py
  pyproject.toml
Due: mypy

Bugfix/filter warnings fix (#584)
  CHANGELOG.md
  cognite/powerops/_version.py
  cognite/powerops/client/_generated/data_classes/_core/query/step.py
  pyproject.toml
Due: mypy

feat: update ci/cd enviroment secrets through the script
  scripts/update_gh_env_secrets.py
Due: mypy

fix: check file name to get instancetype for purge
  cognite/powerops/resync/purge.py
  tests/test_unit/test_resync/test_purge.py
Due: mypy, resync

chore: update changelog and bump version
  CHANGELOG.md
  cognite/powerops/_version.py
  pyproject.toml
Due: mypy

fix: test and build errors
  cognite/powerops/resync/purge.py
  tests/test_unit/test_resync/test_purge.py
Due: mypy, resync

Bugfix: check file name to get instancetype for purge (#586)
  CHANGELOG.md
  cognite/powerops/_version.py
  cognite/powerops/resync/purge.py
  pyproject.toml
  tests/test_unit/test_resync/test_purge.py
Due: mypy, resync

feat: update ci/cd enviroment secrets through the script (#585)
  scripts/update_gh_env_secrets.py
Due: mypy

docs: add repo-managed MkDocs and tutorial content
  .gitignore
  .readthedocs.yaml
  README.md
  docs/index.md
  docs/installation.md
  docs/quickstart.md
  docs/requirements.txt
  docs/resync.md
  docs/setup.md
  docs/tutorials/advanced_cogshop_run.md
  docs/tutorials/index.md
  mkdocs.yml
  pyproject.toml
Due: none

chore: bump version and update changelog
  CHANGELOG.md
  cognite/powerops/_version.py
  pyproject.toml
Due: mypy

fix: precommit errors
  .gitignore
  docs/resync.md
Due: none
