Repository cognitedata/power-ops-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, resync

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: "2.1.3"
    hooks:
      - id: poetry-check

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.9.6"
    hooks:
      - id: ruff
        args:
          - --exit-non-zero-on-fix
          - --config=pyproject.toml
      - id: ruff-format
        args:
          - --config=pyproject.toml

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: "^toolkit/modules/resync/.+yaml$"
      - id: name-tests-test
        args:
          - --pytest-test-first
        exclude: "constants.py"
      - id: trailing-whitespace
      - id: no-commit-to-branch

  - repo: https://github.com/google/yamlfmt
    rev: v0.15.0
    hooks:
      - id: yamlfmt

  # Mypy must be run in the local system environment, not in the pre-commit environment.
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        # Gradually, the entire codebase should be checked by mypy, plan is to gradually add mypy for each
        # module as we refactor it.
        entry: dmypy run -- cognite/powerops/resync cognite/powerops/utils
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false
      - id: "resync"
        name: "resync"
        entry: "powerops pre-build power_ops_config.yaml resync/configuration.yaml --silent"
        files: "resync/"
        language: system
        pass_filenames: false

feat: bump pygen version to 1.2.12
  poetry.lock
  pyproject.toml
Due: none

chore: bump SDK version and update CHANGELOG
  CHANGELOG.md
  cognite/powerops/_version.py
  pyproject.toml
Due: mypy

feat: rerun pygen
  poetry.lock
  pyproject.toml
Due: none

feat: add tests to cover pygen conversion of GraphQL class to read
  tests/test_integration/test_client/test_generated/conftest.py
  tests/test_integration/test_client/test_generated/test_bid_configuration.py
  tests/test_integration/test_client/test_generated/test_bid_matrix_calculation_input.py
Due: mypy

fix: lint errors and version
  cognite/powerops/resync/config_to_fdm.py
  cognite/powerops/utils/cdf/calls.py
  pyproject.toml
Due: mypy, resync

fix: add uniqueness to xids for testing python versions in parallel
  tests/test_integration/test_client/test_generated/conftest.py
  tests/test_integration/test_client/test_generated/test_bid_configuration.py
  tests/test_integration/test_client/test_generated/test_bid_matrix_calculation_input.py
Due: mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: file external id reference
  resync/fornebu/shop_model.yaml
  toolkit/modules/resync/data_models/nodes/fornebu:ShopModel.node.yaml
Due: resync

fix: add missing files to template configuration
  toolkit/config.staging.yaml
  toolkit/modules/power_ops_template/files/SHOP_Fornebu_water_value_cut_file.txt
  toolkit/modules/power_ops_template/files/SHOP_Fornebu_water_value_cut_file_reservoir_mapping.txt
  toolkit/modules/power_ops_template/files/shop_config.FileMetadata.yaml
  toolkit/modules/power_ops_template/files/shop_cut_files.FileMetadata.yaml
Due: none

feat: add toolkit configs for missing envs
  toolkit/config.hydro-pilot.yaml
  toolkit/config.sandbox.yaml
  toolkit/config.statkraft-pilot.yaml
Due: none

chore: add .gitattributes to ignore generated code folder
  .gitattributes
Due: none

chore(deps): update dependency streamlit-aggrid to v1.1.6
  toolkit/modules/shop_result_explorer/streamlit/shop_result_explorer/requirements.txt
Due: none

chore(deps): update dependency cognite-power-ops to >=0.113.0, <0.114.0
  toolkit/modules/shop_result_explorer/streamlit/shop_result_explorer/requirements.txt
Due: none

chore(deps): update pre-commit hook charliermarsh/ruff-pre-commit to v0.12.2
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook google/yamlfmt to v0.17.2
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook python-poetry/poetry to v2.1.3
  .pre-commit-config.yaml
Due: none

chore: run pre-commit on all files
  cognite/powerops/cli.py
  cognite/powerops/client/shop/data_classes/dayahead_trigger.py
  cognite/powerops/client/shop/data_classes/shop_results.py
  cognite/powerops/client/shop/data_classes/shop_run.py
  cognite/powerops/client/shop/data_classes/shop_run_event.py
  cognite/powerops/client/shop/shop_run_api.py
  cognite/powerops/resync/config_to_fdm.py
  cognite/powerops/resync/data_classes.py
  cognite/powerops/resync/utils.py
  cognite/powerops/utils/cdf/calls.py
  cognite/powerops/utils/cdf/extraction_pipelines.py
  cognite/powerops/utils/identifiers.py
  cognite/powerops/utils/require.py
Due: mypy, resync

chore: bump SDK version due to type annotation ruff lint update
  CHANGELOG.md
  cognite/powerops/_version.py
  pyproject.toml
Due: mypy

chore: run cdf modules upgrade
  cdf.toml
Due: none

fix: add missing file for configuring streamlit in toolkit
  toolkit/config.staging.yaml
  toolkit/modules/shop_result_explorer/streamlit/shop_result_explorer.Streamlit.yaml
  toolkit/modules/shop_result_explorer/streamlit/shop_result_explorer/requirements.txt
Due: none

chore: update toolkit version in github actions
  .github/workflows/toolkit-build.yaml
  .github/workflows/toolkit-deploy.yaml
Due: none

fix: missing file references (#538)
  resync/fornebu/shop_model.yaml
  toolkit/config.hydro-pilot.yaml
  toolkit/config.sandbox.yaml
  toolkit/config.statkraft-pilot.yaml
  toolkit/modules/power_ops_template/files/SHOP_Fornebu_water_value_cut_file.txt
  toolkit/modules/power_ops_template/files/SHOP_Fornebu_water_value_cut_file_reservoir_mapping.txt
  toolkit/modules/power_ops_template/files/shop_config.FileMetadata.yaml
  toolkit/modules/power_ops_template/files/shop_cut_files.FileMetadata.yaml
  toolkit/modules/resync/data_models/nodes/fornebu:ShopModel.node.yaml
Due: resync

chore: add .gitattributes to ignore generated code folder (#539)
  .gitattributes
  .github/workflows/toolkit-build.yaml
  .github/workflows/toolkit-deploy.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  cdf.toml
  cognite/powerops/_version.py
  cognite/powerops/cli.py
  cognite/powerops/client/shop/data_classes/dayahead_trigger.py
  cognite/powerops/client/shop/data_classes/shop_results.py
  cognite/powerops/client/shop/data_classes/shop_run.py
  cognite/powerops/client/shop/data_classes/shop_run_event.py
  cognite/powerops/client/shop/shop_run_api.py
  cognite/powerops/resync/config_to_fdm.py
  cognite/powerops/resync/data_classes.py
  cognite/powerops/resync/utils.py
  cognite/powerops/utils/cdf/calls.py
  cognite/powerops/utils/cdf/extraction_pipelines.py
  cognite/powerops/utils/identifiers.py
  cognite/powerops/utils/require.py
  pyproject.toml
  toolkit/config.staging.yaml
  toolkit/modules/shop_result_explorer/streamlit/shop_result_explorer.Streamlit.yaml
  toolkit/modules/shop_result_explorer/streamlit/shop_result_explorer/requirements.txt
Due: mypy, resync

fix: missing env in deploy action
  .github/workflows/toolkit-deploy.yaml
Due: none

chore(deps): pin dependencies
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/toolkit-build.yaml
  .github/workflows/toolkit-deploy.yaml
Due: none

chore: poetry update
  poetry.lock
Due: none

chore: fix typo in PR template
  .github/pull_request_template.md
Due: none

chore: add generated resync files .gitattributes
  .gitattributes
Due: none

fix: missing env in toolkit deploy action (#542)
  .gitattributes
  .github/pull_request_template.md
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/toolkit-build.yaml
  .github/workflows/toolkit-deploy.yaml
  poetry.lock
Due: none

fix: missing env for toolkit deploy
  .github/workflows/toolkit-deploy.yaml
Due: none

fix: missing env for toolkit deploy (#544)
  .github/workflows/toolkit-deploy.yaml
Due: none

fix: missing configuration for 15 min bids
  resync/fornebu/shop_based_partial_bid_configuration.yaml
  resync/fornebu/shop_scenario.yaml
  resync/fornebu/shop_scenario_set.yaml
  resync/shared/bid_configuration_day_ahead.yaml
  resync/stavanger/shop_scenario.yaml
  toolkit/modules/resync/data_models/nodes/fornebu:ShopBasedPartialBidConfiguration.node.yaml
  toolkit/modules/resync/data_models/nodes/fornebu:ShopScenario.edge.yaml
  toolkit/modules/resync/data_models/nodes/fornebu:ShopScenario.node.yaml
  toolkit/modules/resync/data_models/nodes/fornebu:ShopScenarioSet.edge.yaml
  toolkit/modules/resync/data_models/nodes/fornebu:ShopScenarioSet.node.yaml
  toolkit/modules/resync/data_models/nodes/shared:BidConfigurationDayAhead.edge.yaml
  toolkit/modules/resync/data_models/nodes/stavanger:ShopScenario.edge.yaml
  toolkit/modules/resync/data_models/nodes/stavanger:ShopScenario.node.yaml
Due: resync

fix: gitattributes config
  .gitattributes
Due: none

fix: missing configuration for 15 min bids (#545)
  .gitattributes
  resync/fornebu/shop_based_partial_bid_configuration.yaml
  resync/fornebu/shop_scenario.yaml
  resync/fornebu/shop_scenario_set.yaml
  resync/shared/bid_configuration_day_ahead.yaml
  resync/stavanger/shop_scenario.yaml
  toolkit/modules/resync/data_models/nodes/fornebu:ShopBasedPartialBidConfiguration.node.yaml
  toolkit/modules/resync/data_models/nodes/fornebu:ShopScenario.edge.yaml
  toolkit/modules/resync/data_models/nodes/fornebu:ShopScenario.node.yaml
  toolkit/modules/resync/data_models/nodes/fornebu:ShopScenarioSet.edge.yaml
  toolkit/modules/resync/data_models/nodes/fornebu:ShopScenarioSet.node.yaml
  toolkit/modules/resync/data_models/nodes/shared:BidConfigurationDayAhead.edge.yaml
  toolkit/modules/resync/data_models/nodes/stavanger:ShopScenario.edge.yaml
  toolkit/modules/resync/data_models/nodes/stavanger:ShopScenario.node.yaml
Due: resync

chore: configure git to ignore .dat files to avoid uploading license files
  .gitignore
Due: none

chore: configure git to ignore .dat files to avoid uploading license files (#547)
  .gitignore
Due: none
