Repository cognitedata/power-ops-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, resync

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: "2.1.3"
    hooks:
      - id: poetry-check

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.9.6"
    hooks:
      - id: ruff
        args:
          - --exit-non-zero-on-fix
          - --config=pyproject.toml
      - id: ruff-format
        args:
          - --config=pyproject.toml

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: "^toolkit/modules/resync/.+yaml$"
      - id: name-tests-test
        args:
          - --pytest-test-first
        exclude: "constants.py"
      - id: trailing-whitespace
      - id: no-commit-to-branch

  - repo: https://github.com/google/yamlfmt
    rev: v0.15.0
    hooks:
      - id: yamlfmt

  # Mypy must be run in the local system environment, not in the pre-commit environment.
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        # Gradually, the entire codebase should be checked by mypy, plan is to gradually add mypy for each
        # module as we refactor it.
        entry: dmypy run -- cognite/powerops/resync cognite/powerops/utils
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false
      - id: "resync"
        name: "resync"
        entry: "powerops pre-build power_ops_config.yaml resync/configuration.yaml --silent"
        files: "resync/"
        language: system
        pass_filenames: false

chore: update changelog.md
  CHANGELOG.md
  cognite/powerops/client/_generated/v1/_api/data_set_configuration.py
  cognite/powerops/client/_generated/v1/_api_client.py
  cognite/powerops/client/_generated/v1/data_classes/_data_set_configuration.py
  cognite/powerops/client/powerops_client.py
  scripts/pygen_generate_clients.py
  toolkit/config.sandbox.yaml
  toolkit/modules/power_model/data_models/views/DataSetConfiguration.view.yaml
Due: mypy

todos for power-ops-sdk
  cognite/powerops/client/powerops_client.py
  cognite/powerops/resync/main.py
  power_ops_config.yaml
  scripts/add_props_to_partialbidmatrix.py
  scripts/add_ts_data_bidmatrixinfo.py
  scripts/pygen_generate_clients.py
  scripts/write_read_instances.py
  tests/test_integration/conftest.py
  tests/test_integration/test_client/test_powerops_client.py
  toolkit/modules/shop_result_explorer/streamlit/shop_result_explorer/pages/shop_scenarios.py
  toolkit/modules/shop_result_explorer/streamlit/shop_result_explorer/shop_results.py
  tutorials/advanced_cogshop_run.ipynb
  tutorials/quickstart_cogshop_run.ipynb
Due: mypy, resync

fix: ShopScenario references for Stavanger 15 min bids
  resync/stavanger/shop_scenario_set.yaml
  toolkit/modules/resync/data_models/nodes/stavanger:ShopScenarioSet.edge.yaml
Due: resync

chor: pin toolkit version since running toolkit with diff version from it's config raises error
  poetry.lock
  pyproject.toml
Due: none

chore: run cdf modules upgrade
  cdf.toml
Due: none

chore: update pinned toolkit version in GH actions
  .github/workflows/toolkit-build.yaml
  .github/workflows/toolkit-deploy.yaml
Due: none

data_set_api.py maybe?
  cognite/powerops/client/data_set_api.py
  cognite/powerops/client/powerops_client.py
Due: mypy

small fixes
  cognite/powerops/client/data_set_api.py
  cognite/powerops/client/powerops_client.py
  cognite/powerops/utils/cdf/calls.py
  scripts/add_props_to_partialbidmatrix.py
  scripts/add_ts_data_bidmatrixinfo.py
  tests/test_unit/test_utils/test_cdf/__init__.py
  tests/test_unit/test_utils/test_cdf/test_calls.py
Due: mypy

test: tests for get_data_set_ids
  cognite/powerops/utils/cdf/calls.py
  cognite/powerops/utils/cdf/datasets_calls.py
  tests/test_unit/test_utils/test_cdf/test_calls.py
Due: mypy

fix: 15 min bids stavanger (#557)
  .github/workflows/toolkit-build.yaml
  .github/workflows/toolkit-deploy.yaml
  cdf.toml
  poetry.lock
  pyproject.toml
  resync/stavanger/shop_scenario_set.yaml
  toolkit/modules/resync/data_models/nodes/stavanger:ShopScenarioSet.edge.yaml
Due: resync

feat: adding view and container to data models (#555)
  CHANGELOG.md
  cognite/powerops/_version.py
  cognite/powerops/client/_generated/v1/_api/__init__.py
  cognite/powerops/client/_generated/v1/_api/_core.py
  cognite/powerops/client/_generated/v1/_api/data_set_configuration.py
  cognite/powerops/client/_generated/v1/_api_client.py
  cognite/powerops/client/_generated/v1/data_classes/__init__.py
  cognite/powerops/client/_generated/v1/data_classes/_data_set_configuration.py
  cognite/powerops/client/powerops_client.py
  pyproject.toml
  toolkit/modules/power_model/data_models/all_DayAhead.datamodel.yaml
  toolkit/modules/power_model/data_models/all_PowerOps.datamodel.yaml
  toolkit/modules/power_model/data_models/config_DayAheadConfiguration.datamodel.yaml
  toolkit/modules/power_model/data_models/config_Resync.datamodel.yaml
  toolkit/modules/power_model/data_models/containers/DataSetConfiguration.container.yaml
  toolkit/modules/power_model/data_models/views/DataSetConfiguration.view.yaml
Due: mypy

feat: adding process
  cognite/powerops/client/_generated/v1/data_classes/_core/base.py
  cognite/powerops/utils/cdf/datasets_calls.py
  tests/test_unit/test_utils/test_cdf/test_calls.py
  tests/test_unit/test_utils/test_cdf/test_dataset_calls.py
  toolkit/modules/power_model/data_models/containers/DataSetConfiguration.container.yaml
  toolkit/modules/power_model/data_models/views/DataSetConfiguration.view.yaml
Due: mypy

chore: remove deprecated code
  cognite/powerops/client/data_set_api.py
  cognite/powerops/client/powerops_client.py
  cognite/powerops/utils/helpers.py
  cognite/powerops/utils/require.py
Due: mypy

feat: add process dataset to both view and container
  toolkit/modules/power_model/data_models/containers/DataSetConfiguration.container.yaml
  toolkit/modules/power_model/data_models/views/DataSetConfiguration.view.yaml
Due: none

refactor: move retry up a level, no changes given import path doesnt change
  cognite/powerops/utils/retry.py
  cognite/powerops/utils/retry/__init__.py
  tests/test_unit/test_utils/test_retry.py
Due: mypy

refactor: move extraction pipelines up a level, only change is import
  cognite/powerops/utils/extraction_pipelines.py
  tests/test_unit/test_utils/test_extraction_pipeline.py
Due: mypy

fix: remove import to deprecated shop run api
  cognite/powerops/client/shop/__init__.py
Due: mypy

chore: remove deprecated calls function
  cognite/powerops/utils/cdf/calls.py
Due: mypy

chore: rename calls to retrieve and move up a level to root utils
  cognite/powerops/prerun_transformations/transformations.py
  cognite/powerops/utils/cdf/__init__.py
  cognite/powerops/utils/retrieve.py
Due: mypy

chore: fix config file and deprecated tests
  power_ops_config.yaml
  tests/test_unit/test_client/test_shop/test_data_classes/__init__.py
  tests/test_unit/test_client/test_shop/test_data_classes/test_shop_case.py
Due: mypy

chore: revert data model files
  toolkit/modules/power_model/data_models/containers/DataSetConfiguration.container.yaml
  toolkit/modules/power_model/data_models/views/DataSetConfiguration.view.yaml
Due: none

chore: revert generated file
  cognite/powerops/client/_generated/v1/data_classes/_core/base.py
Due: mypy

chore: update typo
  toolkit/modules/power_model/data_models/containers/DataSetConfiguration.container.yaml
  toolkit/modules/power_model/data_models/views/DataSetConfiguration.view.yaml
Due: none

feat: apply correct changes
  cognite/powerops/client/_generated/v1/_api/data_set_configuration.py
  cognite/powerops/client/_generated/v1/data_classes/_data_set_configuration.py
Due: mypy

feat: adding name and resync
  resync/shared/data_set_configuration.yaml
  toolkit/modules/power_model/data_models/containers/DataSetConfiguration.container.yaml
  toolkit/modules/power_model/data_models/views/DataSetConfiguration.view.yaml
Due: resync

chore: regenerate SDK
  cognite/powerops/client/_generated/v1/_api/data_set_configuration.py
  cognite/powerops/client/_generated/v1/data_classes/_data_set_configuration.py
Due: mypy

chore: pre-commit running
  resync/shared/data_set_configuration.yaml
  toolkit/modules/resync/data_models/nodes/shared:DataSetConfiguration.node.yaml
  toolkit/modules/resync/data_models/nodes/types.node.yaml
Due: resync

chore: bump sdk version to 0.114.1
  cognite/powerops/_version.py
  pyproject.toml
Due: mypy

chore: update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: raise MissingViewError in resync if view doesn't exist
  cognite/powerops/resync/config_to_fdm.py
Due: mypy, resync

chore: delete old file that was from pre-toolkit
  toolkit/modules/power_model/data_models/node_types/power-ops-types.powerops_nodes.yaml
Due: none

docs: migration guide for 15 min market
  RESYNC.md
Due: none

feat: add group source ids for staging
  toolkit/config.sandbox.yaml
  toolkit/config.staging.yaml
Due: none

refactor: fix all import statements to remove .v1
  cognite/powerops/client/powerops_client.py
  cognite/powerops/client/shop/cogshop_api.py
  cognite/powerops/resync/config_to_fdm.py
  cognite/powerops/resync/utils.py
  scripts/add_props_to_partialbidmatrix.py
  scripts/add_ts_data_bidmatrixinfo.py
  tests/test_integration/test_client/test_generated/conftest.py
  tests/test_integration/test_client/test_generated/test_bid_configuration.py
  tests/test_integration/test_client/test_generated/test_bid_matrix_calculation_input.py
  tests/test_integration/test_client/test_shop/test_cogshop_api.py
  tests/test_unit/test_client/test_generated/test_data_classes/test_shop_case.py
  tests/test_unit/test_client/test_shop/test_cogshop_api.py
  tests/test_unit/test_resync/test_resync.py
  tests/test_unit/test_resync/test_utils.py
  toolkit/modules/shop_result_explorer/streamlit/shop_result_explorer/pages/shop_scenarios.py
  tutorials/advanced_cogshop_run.ipynb
  tutorials/quickstart_cogshop_run.ipynb
Due: mypy, resync

chore: remove all v1 references
  RESYNC.md
  cognite/powerops/client/powerops_client.py
  cognite/powerops/resync/config_to_fdm.py
  cognite/powerops/resync/main.py
  cognite/powerops/resync/utils.py
  scripts/add_props_to_partialbidmatrix.py
  scripts/add_ts_data_bidmatrixinfo.py
  scripts/pygen_generate_clients.py
  tests/test_integration/test_client/test_generated/conftest.py
  tests/test_integration/test_client/test_generated/test_bid_configuration.py
  tests/test_integration/test_client/test_generated/test_bid_matrix_calculation_input.py
  tests/test_integration/test_client/test_shop/test_cogshop_api.py
  tests/test_unit/test_resync/test_utils.py
  toolkit/CONTRIBUTING.md
  toolkit/modules/shop_result_explorer/streamlit/shop_result_explorer/pages/shop_scenarios.py
  tutorials/advanced_cogshop_run.ipynb
  tutorials/quickstart_cogshop_run.ipynb
Due: mypy, resync

docs(wip): changelog v1 updates
  CHANGELOG.md
Due: none

docs: migration guide for 15 min market (#561)
  RESYNC.md
Due: none
