Repository cognitedata/power-ops-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, resync

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: "2.1.3"
    hooks:
      - id: poetry-check

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.9.6"
    hooks:
      - id: ruff
        args:
          - --exit-non-zero-on-fix
          - --config=pyproject.toml
      - id: ruff-format
        args:
          - --config=pyproject.toml

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: "^toolkit/modules/resync/.+yaml$"
      - id: name-tests-test
        args:
          - --pytest-test-first
        exclude: "constants.py"
      - id: trailing-whitespace
      - id: no-commit-to-branch

  - repo: https://github.com/google/yamlfmt
    rev: v0.15.0
    hooks:
      - id: yamlfmt

  # Mypy must be run in the local system environment, not in the pre-commit environment.
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        # Gradually, the entire codebase should be checked by mypy, plan is to gradually add mypy for each
        # module as we refactor it.
        entry: dmypy run -- cognite/powerops/resync cognite/powerops/utils
        files: ^.*.(py|pyi)$
        language: system
        pass_filenames: false
      - id: "resync"
        name: "resync"
        entry: "powerops pre-build power_ops_config.yaml resync/configuration.yaml --silent"
        files: "resync/"
        language: system
        pass_filenames: false

Docs/repo managed mkdocs (#588)
  .gitignore
  .readthedocs.yaml
  CHANGELOG.md
  README.md
  cognite/powerops/_version.py
  docs/index.md
  docs/installation.md
  docs/quickstart.md
  docs/requirements.txt
  docs/resync.md
  docs/setup.md
  docs/tutorials/advanced_cogshop_run.md
  docs/tutorials/index.md
  mkdocs.yml
  pyproject.toml
Due: mypy

feat: change multienv setup to use dedicated vm with no dependency
  .github/workflows/sdk-build.yml
Due: none

fix: lint
  .github/workflows/sdk-build.yml
Due: none

Fix CI failures caused by zipp downgrade in Poetry install (#595)
  .github/workflows/sdk-build.yml
Due: none

Create config.statkraft-dev.yaml
  toolkit/config.statkraft-dev.yaml
Due: none

Add toolkit as a private submodule
  .gitmodules
Due: none

feat: add submodule authentication and access
  .github/workflows/sdk-build.yml
Due: none

fix: handles the case where the toolkit submodule is freshly checked out without pre-existing subdirectories
  cognite/powerops/resync/config_to_fdm.py
Due: mypy, resync

Remove toolkit folder to replace with private submodule
  .gitmodules
Due: none

feat: add toolkit as private submodule with updated documentation
  .gitmodules
  README.md
  SETUP.md
  docs/setup.md
Due: none

fix: workflows
  .github/workflows/toolkit-release.yml
  .github/workflows/toolkit-sandbox.yaml
  .github/workflows/toolkit-staging.yaml
  cognite/powerops/resync/config_to_fdm.py
Due: mypy, resync

fix: install ssh client for toolkit container
  .github/workflows/toolkit-release.yml
  .github/workflows/toolkit-sandbox.yaml
  .github/workflows/toolkit-staging.yaml
Due: none

fix: install git client and use virtual env to install resync python dependencies to prevent consistant workflow errors
  .github/workflows/toolkit-release.yml
  .github/workflows/toolkit-sandbox.yaml
  .github/workflows/toolkit-staging.yaml
Due: none

fix: SSH key explicitly populate git as known_hosts
  .github/workflows/toolkit-release.yml
  .github/workflows/toolkit-sandbox.yaml
  .github/workflows/toolkit-staging.yaml
Due: none

--amend
  .github/workflows/toolkit-release.yml
  .github/workflows/toolkit-sandbox.yaml
  .github/workflows/toolkit-staging.yaml
Due: none

fix: point dependency to use full commit SHA
  .github/workflows/sdk-build.yml
  .github/workflows/toolkit-release.yml
  .github/workflows/toolkit-sandbox.yaml
  .github/workflows/toolkit-staging.yaml
Due: none

remove toolkit dependency from SDK
  .github/workflows/toolkit-release.yml
  .github/workflows/toolkit-sandbox.yaml
  .github/workflows/toolkit-staging.yaml
  scripts/update_gh_env_secrets.py
Due: mypy

fix: refactored test cases
  .github/workflows/sdk-build.yml
  .github/workflows/sdk-release.yml
  .pre-commit-config.yaml
  tests/mock_powerops.py
  tests/test_integration/conftest.py
  tests/test_integration/test_client/test_generated/test_bid_configuration.py
  tests/test_integration/test_client/test_generated/test_bid_matrix_calculation_input.py
  tests/test_integration/test_client/test_powerops_client.py
  tests/test_integration/test_client/test_utils/test_dataset_calls.py
  toolkit/CONTRIBUTING.md
  toolkit/config.heco-dev.yaml
  toolkit/config.heco-prod.yaml
  toolkit/config.hydro-pilot.yaml
  toolkit/config.lyse-dev.yaml
  toolkit/config.lyse-prod.yaml
  toolkit/config.oe-dev.yaml
  toolkit/config.oe-prod.yaml
  toolkit/config.sandbox.yaml
  toolkit/config.staging.yaml
  toolkit/config.statkraft-pilot.yaml
Due: mypy

typo: use mock project and cluster for tests
  tests/test_integration/test_client/test_shop/test_cogshop_api.py
Due: mypy

fix: precommit errors
  tests/mock_powerops.py
  tests/test_integration/conftest.py
  tests/test_integration/test_client/test_utils/test_dataset_calls.py
Due: mypy

exclude: mock_powerops.py from precommit name-test-test, it doesn't need to starts with test_**
  .pre-commit-config.yaml
Due: none

fix: code coverage to targets sdk code base
  .github/workflows/sdk-build.yml
  .github/workflows/sdk-release.yml
Due: none

fix: requested changes
  README.md
  tests/mock_powerops.py
Due: mypy

fix: precommt errors
  cognite/powerops/utils/extraction_pipelines.py
Due: mypy

fix: precommit error on base.py
  cognite/powerops/client/_generated/data_classes/_core/base.py
Due: mypy

update env config
  poetry.lock
  pyproject.toml
Due: none

Remove toolkit config dependency and CDF credentials from CI (#613)
  .github/workflows/sdk-build.yml
  .github/workflows/sdk-release.yml
  .github/workflows/toolkit-release.yml
  .github/workflows/toolkit-sandbox.yaml
  .github/workflows/toolkit-staging.yaml
  .pre-commit-config.yaml
  README.md
  scripts/update_gh_env_secrets.py
  tests/mock_powerops.py
  tests/test_integration/conftest.py
  tests/test_integration/test_client/test_generated/test_bid_configuration.py
  tests/test_integration/test_client/test_generated/test_bid_matrix_calculation_input.py
  tests/test_integration/test_client/test_powerops_client.py
  tests/test_integration/test_client/test_shop/test_cogshop_api.py
  tests/test_integration/test_client/test_utils/test_dataset_calls.py
  toolkit/CONTRIBUTING.md
  toolkit/config.heco-dev.yaml
  toolkit/config.heco-prod.yaml
  toolkit/config.hydro-pilot.yaml
  toolkit/config.lyse-dev.yaml
  toolkit/config.lyse-prod.yaml
  toolkit/config.oe-dev.yaml
  toolkit/config.oe-prod.yaml
  toolkit/config.sandbox.yaml
  toolkit/config.staging.yaml
  toolkit/config.statkraft-pilot.yaml
Due: mypy

chore: update readme with latest changes
  README.md
Due: none

fix: errors in powerOps dataclass to integarte with cognite-sdk 8.X.X
  cognite/powerops/client/_generated/data_classes/_core/base.py
  cognite/powerops/client/shop/cogshop_api.py
  cognite/powerops/utils/retrieve.py
  tutorials/advanced_cogshop_run.ipynb
  tutorials/quickstart_cogshop_run.ipynb
Due: mypy

fix: precommit error
  cognite/powerops/client/_generated/data_classes/_core/base.py
Due: mypy

fix: request changes
  cognite/powerops/utils/retrieve.py
  poetry.lock
  pyproject.toml
  tutorials/advanced_cogshop_run.ipynb
Due: mypy

implement status endpoint
  CHANGELOG.md
  cognite/powerops/_version.py
  cognite/powerops/client/shop/cogshop_api.py
  docs/tutorials/advanced_cogshop_run.md
  pyproject.toml
  tests/test_unit/test_client/test_shop/test_cogshop_api.py
Due: mypy

update codecov-action version
  .github/workflows/sdk-build.yml
  .github/workflows/sdk-release.yml
Due: none

Improve error handling and add http_status for unreachable requests
  CHANGELOG.md
  cognite/powerops/client/shop/cogshop_api.py
  docs/tutorials/advanced_cogshop_run.md
  tests/test_unit/test_client/test_shop/test_cogshop_api.py
Due: mypy

fix linter issue
  cognite/powerops/client/shop/cogshop_api.py
Due: mypy

Implement status endpoint (#621)
  .github/workflows/sdk-build.yml
  .github/workflows/sdk-release.yml
  CHANGELOG.md
  cognite/powerops/_version.py
  cognite/powerops/client/shop/cogshop_api.py
  docs/tutorials/advanced_cogshop_run.md
  pyproject.toml
  tests/test_unit/test_client/test_shop/test_cogshop_api.py
Due: mypy
